﻿@{
    ViewBag.Title = "Autofill";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<!-- Widget de AutoFill, para funcionar o widget precisa mapear os campos do formulário,
        isso é feito na configuração do widget no sistema-->
<!--Id antigo BI2KQI0YB232JWPDWEJJHFBLUL4HHCTC-->
<script src="https://cdn.ingo.me/widgets-loader/latest/js/ingo.loader.widget.js"
        data-ingo-id="TCHTKPFWBDMQGAXRR2JJSYFLIFRUODKT"></script>

<form action="#" method="post">
    Nome: <input type="text" name="txtNome" id="txtFirstName" /><br /><br />
    Sobrenome: <input type="text" name="txtSobreNome" id="txtLastName" /><br /><br />
    Cargo: <input type="text" name="txtCargo" id="txtTitle" />
</form>
