﻿@{
    ViewBag.Title = "Social";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<!--Widget de Autorização, checa se a pessoa completou o cadastro e posta o check-in do evento na rede social,
        necessita das informações do usuário para confirmar-->
<!--Id antigo HSJUKXQNJ3DIEYBVSHA4TD0U0MVWY2IE-->
<script src="https://cdn.ingo.me/widgets-loader/latest/js/ingo.loader.widget.js"
        data-ingo-id="SFUHUHRWNTJQK2NACKQKGMUGFHAXVP4I"
        data-ingo-attendee.email="email_for_registrant"
        data-ingo-attendee.first-name="firstname_system_parameter"
        data-ingo-attendee.last-name="lastname_system_parameter"
        data-ingo-attendee.company="company_name_system_parameter"
        data-ingo-attendee.title="title/position_system_parameter"
        data-ingo-attendee.external-registration-id="external_registration_ID_parameter">
</script>

<!--Widget Social-->
<div class="col-md-12">
    <script src="https://cdn.ingo.me/widgets-loader/latest/js/ingo.loader.widget.js"
            data-ingo-id="532UEISAZFEORGLUYRAYRDXHBRTLO3LX"></script>
</div>