﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ingo</h1>
    <p class="lead">Teste das widgets do ingo</p>
    <p><a href="https://github.com/InGo-LLP/docs" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <!--Widget de Login -->
        <!--Src é sempre o mesmo, funcionalidade é dada pelo id-->
        <!--Id é fornecido pelo sistema da InGo-->
        <!--data-ingo-manual é para o redirecionamento pós login-->
        <!--id antigo MG33J3I53HG01PKCG3UYURHDUWP3LPU2-->
        <script src="https://cdn.ingo.me/widgets-loader/latest/js/ingo.loader.widget.js"
                data-ingo-id="AHQSW34RA5NIBCYOTB4EAI3KRR3G3YCT"
                data-ingo-manual="About">
        </script>
    </div>
    <!--Widget social-->
    <!--data-ingo-show define a aba que deve ser mostrada-->
    <!--Id Antigo-->
    <div class="col-md-4">
        <script src="https://cdn.ingo.me/widgets-loader/latest/js/ingo.loader.widget.js"
                data-ingo-id="HJR44CFQBRGAANASB1IMC12ZEZXF5IVY"
                data-ingo-show="whosin"></script>
    </div>
</div>